@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

:root {
  --background: black;
  --foreground: #171717;
  --primary: #F0F0FC;
  --primary-blue: #89CBD0;
  --secondary-blue: #0C5E84;
  --box: #F6F6F6;
}

body {
  background-color: #F0F0Fc;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}