@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");

:root {
  --background: black;
  --foreground: #171717;
  --primary: #f0f0fc;
  --primary-blue: #89cbd0;
  --secondary-blue: #0c5e84;
  --box: #f6f6f6;
  --stroke: #c4c4c4;
}

body {
  background-color: #f0f0fc;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
